.card-container{
    width: 35dvw;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 18vh;
}
.card{
    display: flex;
    flex-direction: column;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}
.login{
    padding: inherit;
    height: .3vh;
}
.login > span{
    position: absolute;
    right: 0;
    bottom: 8vh;
    padding: inherit;
}