<mat-card class="card-container">
  <mat-card-content class="card">
    <mat-form-field color="accent">
      <mat-label>Email</mat-label>
      <input type="text" matInput [(ngModel)]="email" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Name</mat-label>
      <input type="text" matInput [(ngModel)]="uname" />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input type="password" matInput [(ngModel)]="pass" />
    </mat-form-field>

    <div class="login">
      <span
        >Already have account? <a routerLink="/">Login</a>
      </span>
    </div>

    <button mat-raised-button color="accent" (click)="register()">
      Register
    </button>
  </mat-card-content>
</mat-card>
